<ion-header>
  <ion-toolbar color="darkorange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>詹惟中紫微斗數</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" text-center class="ion-no-padding">
        <ion-img src="../../assets/images/banner.jpg"></ion-img>
        <!-- <img src="../../assets/images/banner.jpg" alt="banner"> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="info" size-md="8" offset-md="2">
        <!-- <form [formGroup]="validationsForm"> 
          <ion-input type="text" formControlName="username"></ion-input>
        </form> -->


        <form #f="ngForm" (ngSubmit)="onMySubmit(f)">

          <ion-card class="ion-no-margin">
            <ion-card-header>
              <ion-card-title>了解您的紫微命盤</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-item>
                <ion-label position="stacked">您的姓名
                  <!-- <ion-text color="danger">*</ion-text> -->
                </ion-label>
                <ion-input type="text" [(ngModel)]="userService.userData.Name" name="username" required
                  #unameCtrl="ngModel"></ion-input>
              </ion-item>


              <!-- <ion-item class="" lines="none">
                  
                  <ion-segment (ionChange)="segmentChanged($event)" color="darkorange">
                      <ion-segment-button value="0" checked>
                        <ion-label>國曆</ion-label>
                      </ion-segment-button>
                      <ion-segment-button value="1">
                        <ion-label>陰曆</ion-label>
                      </ion-segment-button>
                    </ion-segment>
              </ion-item> -->

              <ion-item class="ion-padding-top">
                <ion-label position="stacked">曆法</ion-label>
                <ion-segment [(ngModel)]="userService.userData.DateType" name="dateType"
                  (ionChange)="segmentChanged($event)" color="darkorange">
                  <ion-segment-button value="0" checked>
                    <ion-label>國曆</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="1">
                    <ion-label>陰曆</ion-label>
                  </ion-segment-button>
                </ion-segment>
                <!-- <ion-select placeholder="" okText="確定" cancelText="取消">
                  <ion-select-option value="0">國曆</ion-select-option>
                  <ion-select-option value="1">陰曆</ion-select-option>
                </ion-select> -->
              </ion-item>

              <ion-item>
                <ion-label position="stacked">年</ion-label>
                <ion-datetime name="year" displayFormat="YYYY" min="1911" [(ngModel)]="year"
                  (ionChange)="changeYear($event)" required></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">月</ion-label>
                <!-- <ion-datetime name="month" [(ngModel)]="month" [monthValues]="monthVal" displayFormat="MM" (ionChange)="changeMonth($event)" required></ion-datetime> -->
                <ng-container *ngIf="isLunarCalendar; else notLunarCalendar">
                  <ion-select [(ngModel)]="userService.userData.Month" name="month"
                    [selectedText]="userService.userData.Month" (ionChange)="changeMonth($event)" required>
                    <ng-container *ngFor="let mon of LunarDates;">
                      <ng-container *ngIf="mon.IsLeap; else notLeap">
                        <ion-select-option>閏{{mon.Month}}</ion-select-option>
                      </ng-container>
                      <ng-template #notLeap>
                        <ion-select-option [value]="mon.Month">{{mon.Month}}</ion-select-option>
                      </ng-template>
                    </ng-container>
                  </ion-select>
                </ng-container>
                <ng-template #notLunarCalendar>
                  <ion-select [(ngModel)]="userService.userData.Month" name="month"
                    [selectedText]="userService.userData.Month" required (ionChange)="changeMonth($event)">
                    <ion-select-option *ngFor="let mon of monthVal">{{mon}}</ion-select-option>
                  </ion-select>
                </ng-template>

              </ion-item>
              <ion-item>
                <ion-label position="stacked">日</ion-label>
                <ion-select [(ngModel)]="userService.userData.Day" name="day" [selectedText]="userService.userData.Day"
                  required>
                  <ion-select-option *ngFor="let d of dayVal">{{d}}</ion-select-option>
                </ion-select>
                <!-- <ion-datetime name="day" [(ngModel)]="day" [dayValues]="dayVal" displayFormat="DD" value="1" required></ion-datetime> -->
              </ion-item>

              <!-- <ion-item>
                <ion-label position="stacked">出生日期 <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" placeholder="" ngModel name="birthday" required></ion-datetime>
              </ion-item> -->

              <ion-item>
                <ion-label position="stacked">出生時辰
                </ion-label>
                <ion-select placeholder="" [(ngModel)]="userService.userData.BirthTime" name="birthdaytime"
                  [selectedText]="userService.userData.SelectedBirthTimeText" (ionChange)="changeBirthTime($event)"
                  required>
                  <ion-select-option *ngFor="let time of userService.birthTimeSelect" [value]="time.id">{{time.text}}
                  </ion-select-option>

                </ion-select>

              </ion-item>

              <ion-item>
                <ion-label position="stacked">手機號碼
                </ion-label>
                <ion-input type="tel" [(ngModel)]="userService.userData.Cellphone" name="cellphone" required>
                </ion-input>
              </ion-item>
              <div class="ion-margin-top">
                <ion-button type="submit" color="primary" expand="full" [disabled]="!authService.userIsAuthenticated">
                  立即了解你的紫微命盤 免費</ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center ion-margin-top">
      <ion-col size-sm="4" size-md="2" offset-md="3">
        <!-- <a [routerLink]="['/','home','tabs','nine']" routerDirection="forward">
          <ion-img src="../../assets/images/wheel_of_life.png"></ion-img>
        </a> -->
        <a [routerLink]="['/','astrology']" routerDirection="forward">
          <ion-img src="../../assets/images/wheel_of_life.png"></ion-img>
        </a>
        <!-- <img src="../../assets/images/wheel_of_life.png" alt=""> -->
        <div class="ion-margin">我的命盤</div>
      </ion-col>
      <ion-col size-sm="4" size-md="2">
        <a [routerLink]="['/','life']">
          <ion-img src="../../assets/images/whole_life.png"></ion-img>
          <!-- <img src="../../assets/images/whole_life.png" alt=""> -->
        </a>
        <div class="ion-margin">一生機運</div>
      </ion-col>
      <ion-col size-sm="4" size-md="2">
        <a [routerLink]="['/','year']">
          <ion-img src="../../assets/images/year_fortune.png"></ion-img>
          <!-- <img src="../../assets/images/year_fortune.png" alt=""> -->
        </a>
        <div class="ion-margin">2020流年運勢</div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size-sm="4" size-md="2" offset-md="3">
        <a href="http://1.34.27.193/Videos/introduction.mp4">
          <ion-img src="../../assets/images/videos.png"></ion-img>
          <!-- <img src="../../assets/images/videos.png" alt=""> -->
        </a>
        <div class="ion-margin">詹老師的話</div>
      </ion-col>
      <ion-col size-sm="4" size-md="2">
        <a (click)="notYet()">
          <ion-img src="../../assets/images/record.png"></ion-img>
        </a>
        <div class="ion-margin">測算紀錄</div>
      </ion-col>
      <ion-col size-sm="4" size-md="2">
        <a (click)="notYet()">
          <ion-img src="../../assets/images/customer_service.png"></ion-img>
          <!-- <img src="../../assets/images/customer_service.png" alt=""> -->
        </a>
        <div class="ion-margin">客服</div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>